@page "/editarPersona/{Id:int}"

@using ElmerGonzalez_PruebaTectica.Data
@inject PersonaService personaService
@inject NavigationManager UriHelper

<h1>Editar persona</h1>

<form action="post">
    <div class="form-group">
        <label for="inputNombre">Id</label>
        <input type="text" class="form-control" placeholder="Nombre" id="inputNombre" @bind-value="Id" disabled>
    </div>
    <div class="form-group">
        <label for="inputNombre">Nombre</label>
        <input type="text" class="form-control" placeholder="Nombre" id="inputNombre" @bind-value="Nombre">
    </div>
    <div class="form-group">
        <label for="inputDate">Fecha de Nacimiento</label>
        <input type="date" id="inputDate" class="form-control" @bind-value="FechaNacimiento">
    </div>
    <button type="submit" class="btn btn-primary" @onclick="Editar">Editar</button>
</form>

@code {
    public int Id { get; set; }
    public string Nombre { get; set; }
    public DateTime FechaNacimiento { get; set; }

    private void Editar()
    {
        bool modificada = personaService.PutPersona(new Persona {
            Id = this.Id,
            Nombre = this.Nombre,
            FechaNacimiento = this.FechaNacimiento
        });

        if (modificada)
        {
            UriHelper.NavigateTo("/verPersonas");
        }
    }
}
