@page "/"

<h1>Aplicación para gestion de personas</h1>

Pueden acceder a la seccion de <a href="/agregarPersona">Ingresar</a> para poder comenzar. También pueden directamente a <a href="/verPersonas">ver personas</a> y ver los datos de muestra.
