@page "/"

<h1>Aplicación para gestion de personas</h1>

Pueden acceder a la seccion de <a href="#">Ingresar</a> para poder comenzar. También pueden directamente a <a href="#">ver personas</a> y ver los datos de muestra.
